CUSTOM_FONT_PATH="fonts"
DEFAULT_FALLBACK_FONTS='["Noto Sans CJK SC", "Noto Color Emoji", "Noto Sans Symbols", "Noto Sans Symbols2", "Noto Sans Thai", "Noto Sans Kannada", "Noto Sans Cherokee", "Noto Sans"]'
DRIVER=~fastapi
SESSDATA=
BUVID3=
BOT_QQ=
MANAGER_QQ=